* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.container {
  min-height: 100vh; 
  min-width: 100vw;
  width: 100vw;
  height: 570px;
  position: relative;
  background-image: url("src/assets/template.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.boxs{
  width: 100%;
  opacity: 0.6;
  height: 100%;
  background-color: black;
  position: absolute;
  /* background-attachment: fixed; */
  /* z-index: 9999; */
}
.navbar{
  font-weight: 500;
  position: relative;
  color: white;
  justify-content: space-between;
}
ul{
  align-items: center;
}
.content{
  /* transform: translateX(80%);
  transform: translateY(80%); */
  position: relative;
  margin-top: 187px;
  margin-left: 80px;
}